body{
    font-family: Arial, sans-serif;
    text-align: center;
    padding: auto;
    background-color: azure;
}
h1{
color: rgb(7, 7, 9);
}
section{
    background-color: azure;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0 2px 6px rgb(7, 7, 8);

}
input, button{
    padding: 10px;
    margin: 5px;
    font-size: 16px;

}
button{
    background: rgb(76, 76, 176);
    color: azure;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
background: rgb(58, 58, 205);
}
#weather {
    margin-top: 20px;
    font-size: 18px;
    
}